.edit-profile {
    width: 100%;
    margin: 0 auto;
}

.edit-profile__inner {
    width: 100%;
    padding: 50px 0;
}

.edit-form__title {
    text-align: center;
    font-size: 36px;
}

.image-upload__frame {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.edit-image__image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    background-color: #e5e5e5;
}

.hidden {
    display: none;
}

/* */
.image__control {
    margin-left: 40px;
}

.custom-file__upload {
    color: #ff5555;
    border: 2px solid #ff5555;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 40px;
    cursor: pointer;
}

.custom-file__upload:hover {
    opacity: 0.7;
}

.custom-file__upload input[type="file"] {
    display: none;
}

.edit-form__error-message {
    color: #ff0000;
    height: 20px;
    margin-top: 20px;
}

.edit-form__error {
    color: #ff0000;
    height: 20px;
    
}

.edit-form__content {
    width: 50%;
    margin: 40px auto;
}

.edit-form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.edit-form__label {
    font-size: 24px;
    font-weight: bold;
}

.edit-form__input {
    padding: 10px 20px;
    font-size: 18px;
}

.edit-form__error {
    color: #ff0000;
    height: 20px;
}

.edit-form__btn {
    width: 100%;
    text-align: center;
    background-color: #ff5555;
    margin-top: 60px;
    border-radius: 5px;
    cursor: pointer;
}

.edit-form__btn-submit {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    margin: 10px auto;
    cursor: pointer;
}

.edit-form__btn:hover,
.edit-form__btn-submit:hover {
    opacity: 0.7;
}

@media screen and (max-width: 850px) {
    .image-upload__frame {
        flex-direction: column;
        text-align: center;
    }
    .image__control {
        margin-top: 40px;
        margin-left: 0;
    }
}