








.custom-select-box {
    position: relative;
    width: 100%;
    max-width: 200px;
    font-size: 16px;
    user-select: none;
}

.selected {
    padding: 5px 15px;
    margin-left: 40px;
    width: 300px;
    min-height: 38px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
    color: #000;
}

.options {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #636769;
    z-index: 10;
    border-radius: 3px;
    margin-left: 40px;
    width: 300px;
}

.options.active {
    display: block;
}

.option {
    padding: 5px 30px;
    cursor: pointer;
    color: #fff;
}

.option:hover,
.option.selected {
    background-color: #5599eb;
    color: #fff;
    position: relative;
    left: -41px;
    margin-left: 40px;
    width: 300px;
}

.option.selected::before {
    content: '✔︎';
    position: absolute;
    left: 10px;
}

.custom-select-box>.selected {
    position: relative;
}

.custom-select-box>.selected::after {
    position: absolute;
    content: '';
    top: 12px;
    right: 10px;
    border-top: 12px solid #5f5f5f;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}