.item-content {
    width: 100%;
    margin: 0 auto;
}

.tab-menu {
    padding: 0 150px;
    margin-top: 40px;
}

.tab-menu a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding-right: 80px;
    color: #5f5f5f;
}

.tab-menu a.active {
    color: #ff0000;
}

.separator {
    border: none;
    border-top: 1px solid #5f5f5f;
    margin: 0.5em 0;
}

.item-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px 0;
}

